* {
    box-sizing: border-box;
    margin-right: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    background: white;
    overflow-x: hidden;
}

.toop{
    height: 2cm;
    background-color: white;
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
.fyynro{
    display: flex;
    align-items: center;
    width: 5cm;
    margin-left: 1cm;
    font-weight: 600;
    font-size: 18px;
    font-family: poppins;

}
.toopbuttons a,
.loginbuttons a {
    position: relative;
    z-index: 100;
}
.yout{
    position: relative;
    z-index: 100;
}
.parama{
    position: relative;
    z-index: 100;
}
.credi a {
    position: relative;
    z-index: 100;
}
.advii a{
    position: relative;
    z-index: 100;
}
.toopbuttons{
    margin-left: 7.5cm;
    display: flex;
    align-items: center;
    gap:40px ;
    font-weight: 600;
    font-size: 16px;
}
.toopbuttons a{
    text-decoration: none;
}
.loginbuttons {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-left: 7.5cm;
}

.loogin {
    text-decoration: none;
    border-width: 1px;
    gap: 8px;
    border-radius: 10px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    background: #FFFFFF;
    border: 1px solid #5978FF;
    font-weight: 500;
    font-size: 14px;
    color:#5978FF ;
}

.loginbuttons .getstarted {
    text-decoration: none;
    gap: 8px;
    border-radius: 10px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    background: #5978FF;
    color: white;
    font-weight: 500;
    font-size: 14px;
}
.coll{
    height: 2.5cm;
    background-color: #F7F9FF;
}
.mi-d {
    background-color: #F7F9FF;
    margin-bottom: 0;
    height: 20cm;
}

.midd {
    position: relative;
    top: -3.8cm;
    left: 2cm;
    display: flex;
    margin-bottom: 4cm;
}

.middle {
    position: relative;
    top: 217.07px;
    left: 110.73px;
}

.rating {
    position: relative;
    top: -7.5cm;
    left: 20.3cm;
}

.midpara1 {
    font-family: Gilroy-Bold;
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0%;
}

.midpara1 {
    font-weight: bold;
}

.midpara2 {
    font-family: Gilroy-Medium;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #121214;
    margin-bottom: 2cm;
}

.mid3 {
    height: 24;
    top: 5px;
    gap: 16px;
}

.mid4 a {
    text-decoration: none;
    color: white;
    border-radius: 12px;
    padding-top: 17px;
    padding-right: 36px;
    padding-bottom: 17px;
    padding-left: 36px;
    background: #5978FF;
    font-weight: 400;
    font-size: 18px;
}

.mid4 {
    margin-top: 2cm;
}

.imm {
    position: relative;
    width: 15cm;
    top: -14.5cm;
    left: 11cm;
    margin: 0 auto;
}

.vecc {
    position: relative;
    top: -24cm;
    left: 11cm;
    width: 6.4cm;
}

.vecc1 {
    position: relative;
    top: -28.4cm;
    left: 4cm;
    width: 1.5cm;
}

.action {
    margin-top: -5cm;
    padding-top: 2cm;
    background-color: white;
    height: 25cm;

}
.dot{
    display: flex;
    position: relative;
    top: -0.3cm;
}
.line{
    display: flex;
    position: relative;
    top: -21cm;

}

.yout {
    margin-top: 2cm;
}

.parama {
    position: relative;
    bottom: 9cm;
}
.solvee{
    height: 5cm;
    background-color:#F7F9FF ;
}
.solve {
    position: relative;
    bottom: 3cm;
    background-color: #F7F9FF;
    height: 20cm;
}

.advisors {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1cm;
    height: 18cm;
}

.ad {
    flex-direction: row;
    position: relative;
    top: -1.5cm;
    height: 11cm;
    width: 20%;
    border-radius: 10px;
    background-color: white;
}

.adp {
    width: 272;
    height: 32;
    top: 224px;
    left: 12px;
    background: linear-gradient(90deg, rgba(248, 151, 31, 0.12) 0%, rgba(248, 248, 248, 0.24) 96.14%);
    font-family: Gilroy-SemiBold;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #402708;
}

.add {
    font-weight: 400;
    font-size: 16px;
}

.piic {
    position: relative;
    left: 6cm;
    top: -1cm;
}

.exp {
    position: relative;
    top: -1cm;
    font-weight: 400;
    font-size: 14px;
    color: #555555;
}

.credits {
    position: relative;
    top: -0.7cm;
    background-color: #F7F9FF;
    border-radius: 10cm;
}

.cre {
    font-family: Gilroy-Medium;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0%;
    text-decoration: line-through;
    margin-left: 0.3cm;
    color: #555555;
}

.cred {
    font-family: Gilroy-SemiBold;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #0D1226;
    position: relative;
    top: -0.3cm;
    margin-left: 0.3cm;
}

.credi a {
    text-decoration: none;
    color: white;
}

.credi {
    text-decoration: none;
    position: relative;
    top: -1.8cm;
    left: 5cm;
}

.credi {
    border-radius: 16px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    background: #5978FF;
    width: 2cm;
    font-size: 15px;
}

.credits {
    height: 1.6cm;
}

.advii {
    position: relative;
    top: -4.5cm;
}

.advii a {
    text-decoration: none;
}
.bgg{
    position: absolute;
    z-index: 2;
    margin-left: 70px;
    margin-top: -3cm;
    }
.gridd{
    position: absolute;
    z-index: 1;
    margin-top: -3.5cm;
}
.adviiisor {
    margin-top: -3cm;
    
    height: 787.72px; /* Keep it simple */
    background: #0000000A;
background: #00000014;
background: linear-gradient(89.88deg, rgba(89, 120, 255, 0.12) -0.71%, rgba(89, 120, 255, 0) 87.02%);
background: #00000012;


}

.adviisor {
    z-index: 3;
    padding-top: 1.9cm;
    margin-bottom: -2cm;
    height: 5cm;
    font-size: 14px;
}

.steps {
    margin-top: -1cm;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fllight {
    font-size: x-large;
    position: relative;
    font-family: Gilroy-Bold;
    font-weight: 900;
    left: 5cm;
}

.sstep {
    display: flex;
    background-color: white;
}

.ss1 {
    width: 50%;
    height: 15cm;
    margin-left: 5.5cm;
}

.ss2 {
    height: 15cm;
    width: 50%;
    position: relative;
    top: -8cm;
    right: 3cm;
}

.learn1 {
    height: 33%;

}

.learn2 {
    height: 33%;

}

.learn3 {
    height: 33%;

}

.stepp {
    background-color: chartreuse;
    width: 2cm;
    text-align: center;
    border-width: 10px;
    border-radius: 100cm;
    margin-left: 0.3cm;
    background: #CBF2E0;
    color: #008545;

}

.stepp2 {
    margin-left: 0.3cm;
    font-weight: 700;
}

.stepp3 {
    margin-left: 0.3cm;
    color: #555555;
    font-weight: 400;
    font-size: 18px;
}

.customer {
    background-color: white;
    margin-top: 6cm;
    height: 18cm;
}

.cu1 {
    font-size: 25px;


}
.custs{
    font-weight: 700;
    font-size: 28px;
    font-family: Gilroy-Bold;
}
.cu2 {
    margin-top: 1cm;
    height: 13cm;
    background-color: white;
    margin-left: 8cm;
    margin-right: 2cm;
    display: flex;
    flex-direction: row;
    gap: 0.5cm;
}

.cuu2 {
    margin-top: 2cm;
    height: 10cm;
    width: 8cm;
    background-color: white;
    border-radius: 1cm;
    align-items: center;
}

.cuc1 {
    height: 10cm;
    background-color: #F0F9FA;
    border-radius: 1cm;
}

.cuc2 {
    height: 10cm;
    background-color: #FFF5EC;
    border-radius: 1cm;
}

.cuc3 {
    height: 10cm;
    background-color: #ECF1FB;
    border-radius: 1cm;
}

.cup {
    position: relative;
    top: -1cm;
    left: 2.5cm;

}

.cun {
    margin-top: -0.8cm;
}

.cui {
    margin-top: 1cm;
    margin-left: 0.6cm;
    margin-right: 0.6cm;
    color: #555555;
    font-size: 16px;

}

.cur {
    margin-top: 1.5cm;
}
.deals{
    background-color:#008545;
    height: 20cm;
}
.excl{
    background-color: #7f8ec7;
    height: 2cm;
    display: flex;
    align-items: center;
    padding-left: 15cm;
    font-size: 30px;
    font-weight: 700;
}
.deal1{
    background-color:#5978FF;
    height: 8cm;
    margin-left: 8cm;
    margin-top: 3cm;
}
